@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2B2B2B;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

header {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2B2B2B;
  height: 100px;
  padding: 0 50px;
}
header .head_right {
  display: flex;
  align-items: center;
}
header a {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  color: white;
}
header ul {
  list-style: none;
  display: flex;
}
header ul li {
  margin: 0 30px;
}
header .auth_link {
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #A259FF;
}

#main_block {
  font-family: "Work Sans", sans-serif;
  padding: 80px 115px;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#main_block .main_left h1 {
  font-size: 67px;
  font-weight: 600;
  line-height: 110%;
}
#main_block .main_left p {
  margin: 20px 0 30px 0;
  font-size: 22px;
  line-height: 160%;
}
#main_block .main_left .left_ref {
  padding: 20px 50px;
  background-color: #A259FF;
  border-radius: 20px;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  color: white;
  text-decoration: none;
}
#main_block .main_num {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  margin: 30px 0 0 0;
}
#main_block .main_num .num_el {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  justify-content: space-between;
  height: 77px;
  width: 33.3333333333%;
}
#main_block .main_num .num_digits {
  font-family: "Space Mono", monospace;
  font-size: 28px;
}
#main_block .main_num .num_text {
  font-size: 24px;
}
#main_block .main_card {
  display: flex;
  flex-direction: column;
}
#main_block .main_card .card_desc {
  padding: 22px 20px;
  background-color: #3B3B3B;
  border-radius: 0 0 20px 20px;
}
#main_block .main_card .card_desc h3 {
  line-height: 30.8px;
  margin: 0 0 10px 0;
}
#main_block .main_card .card_desc .desc_author {
  display: flex;
  align-items: center;
  gap: 12px;
}

#collection {
  padding: 80px 115px;
  color: white;
  font-family: "Work Sans", sans-serif;
}
#collection .col_head {
  margin: 0 0 60px 0;
}
#collection .col_head h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
#collection .col_head p {
  margin: 10px 0 0 0;
  text-transform: capitalize;
  line-height: 160%;
  font-size: 22px;
}
#collection .draw_container {
  display: flex;
  justify-content: space-between;
}
#collection .draw {
  display: grid;
  gap: 15px;
  grid-template-areas: "big big big" "p1 p2 etc" "desc desc desc";
}
#collection .draw .draw_bigPhoto {
  grid-area: big;
}
#collection .draw .p1 {
  grid-area: p1;
}
#collection .draw .p2 {
  grid-area: p2;
}
#collection .draw .draw_etc {
  grid-area: etc;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: #A259FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 700;
}
#collection .draw .draw_desc {
  grid-area: desc;
}
#collection .draw .draw_desc .desc_name {
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
}
#collection .draw .draw_desc .desc_author {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

#creators {
  padding: 80px 115px;
  color: white;
  font-family: "Work Sans", sans-serif;
}
#creators .cr_head {
  margin: 0 0 60px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#creators .cr_head h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
#creators .cr_head p {
  margin: 10px 0 0 0;
  text-transform: capitalize;
  line-height: 160%;
  font-size: 22px;
}
#creators .cr_head .cr_headBtn {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 20px 50px;
  border-radius: 20px;
  border: 1px solid #A259FF;
}
#creators .cr_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}
#creators .cr_author {
  background-color: #3B3B3B;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  width: 240px;
}
#creators .cr_author .cr_img {
  margin: 0 0 20px 0;
}
#creators .cr_author .author_top {
  position: absolute;
  width: 30px;
  left: 20px;
  top: 18px;
  height: 30px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2B2B2B;
  color: #858584;
  font-family: "Space Mono", monospace;
}
#creators .cr_author .cr_text {
  text-align: center;
}
#creators .cr_author .cr_text h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
}
#creators .cr_author .cr_text p {
  color: #858584;
  line-height: 140%;
}
#creators .cr_author .cr_text p span {
  margin: 0 0 0 10px;
  color: white;
  font-family: "Space Mono", monospace;
}

#categories {
  padding: 80px 115px;
  color: white;
  font-family: "Work Sans", sans-serif;
}
#categories h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
#categories .cat_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 60px 0 0 0;
  gap: 30px;
}
#categories .cat_card {
  position: relative;
  width: 240px;
  display: flex;
  flex-direction: column;
}
#categories .cat_card .card_back {
  width: 240px;
  height: 240px;
  background-image: url(../MEDIA/Categories/PaintBrushBack.svg);
}
#categories .cat_card .icon_back {
  backdrop-filter: blur(7.5px);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px 20px 0 0;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#categories .cat_card .icon_back .card_icon {
  position: relative;
}
#categories .cat_card .card_text {
  background-color: #3B3B3B;
  padding: 20px 30px 25px 30px;
  border-radius: 0 0 20px 20px;
}
#categories .cat_card .card_text span {
  font-size: 22px;
  line-height: 140%;
}

#discover {
  padding: 80px 115px;
  color: white;
  font-family: "Work Sans", sans-serif;
}
#discover .disc_head {
  margin: 0 0 60px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#discover .disc_head h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
#discover .disc_head p {
  margin: 10px 0 0 0;
  text-transform: capitalize;
  line-height: 160%;
  font-size: 22px;
}
#discover .disc_head .disc_headBtn {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 20px 50px;
  border-radius: 20px;
  border: 1px solid #A259FF;
}
#discover .disc_cards {
  display: flex;
  justify-content: space-between;
}
#discover .card_container {
  display: flex;
  flex-direction: column;
}
#discover .card_text {
  background-color: #3B3B3B;
  border-radius: 0 0 20px 20px;
  font-size: 22px;
  line-height: 140%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  padding: 20px 30px 25px;
}
#discover .card_text .card_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#discover .card_text .card_info h5 {
  font-size: 22px;
  line-height: 140%;
}
#discover .card_text .card_author {
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 12px;
}
#discover .card_text .card_ETH {
  display: flex;
  justify-content: space-between;
}
#discover .card_text .card_ETH span {
  font-family: "Space Mono", monospace;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
#discover .card_text .card_ETH .ETH_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}
#discover .card_text .card_ETH .ETH_bid,
#discover .card_text .card_ETH .ETH_price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#discover .card_text .card_ETH .ETH_bid {
  align-items: end;
}

#highlight {
  font-family: "Work Sans", sans-serif;
}
#highlight .filler {
  height: 640px;
}
#highlight .hl_back {
  height: 640px;
  width: 100%;
  left: 0;
  position: absolute;
  background-size: cover !important;
  background-attachment: fixed !important;
  display: flex;
  justify-content: center;
}
#highlight .hl_info {
  padding: 360px 115px 60px;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#highlight .hl_info .info_text {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: start;
}
#highlight .hl_info .info_artist {
  padding: 10px 20px;
  background-color: #3B3B3B;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
}
#highlight .hl_info h2 {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  color: #fff;
}
#highlight .hl_info .info_btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  padding: 19px 50px;
  border-radius: 20px;
  font-weight: 600;
  line-height: 140%;
}
#highlight .hl_info .info_timer {
  padding: 30px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Space Mono", monospace;
}
#highlight .hl_info .info_timer .timer_head {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}
#highlight .hl_info .info_timer .timer_counter {
  display: grid;
  grid-template-columns: repeat(2, 53px 18px);
  gap: 5px 10px;
  grid-template-areas: "hnum dots1 mnum dots2 snum" "h . m . s";
}
#highlight .hl_info .info_timer .timer_counter .hnum {
  grid-area: hnum;
}
#highlight .hl_info .info_timer .timer_counter .mnum {
  grid-area: mnum;
}
#highlight .hl_info .info_timer .timer_counter .snum {
  grid-area: snum;
}
#highlight .hl_info .info_timer .timer_counter .dots1 {
  grid-area: dots1;
}
#highlight .hl_info .info_timer .timer_counter .dots2 {
  grid-area: dots2;
}
#highlight .hl_info .info_timer .timer_counter .h {
  grid-area: h;
}
#highlight .hl_info .info_timer .timer_counter .m {
  grid-area: m;
}
#highlight .hl_info .info_timer .timer_counter .s {
  grid-area: s;
}
#highlight .hl_info .info_timer .timer_counter .hnum, #highlight .hl_info .info_timer .timer_counter .mnum, #highlight .hl_info .info_timer .timer_counter .snum {
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
}
#highlight .hl_info .info_timer .timer_counter .h, #highlight .hl_info .info_timer .timer_counter .m, #highlight .hl_info .info_timer .timer_counter .s {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}
#highlight .hl_info .info_timer .timer_counter .dots1, #highlight .hl_info .info_timer .timer_counter .dots2 {
  font-size: 28px;
  justify-self: center;
}

#howitworks {
  padding: 80px 115px;
  color: white;
  font-family: "Work Sans", sans-serif;
}
#howitworks .hiw_head {
  margin: 0 0 60px 0;
}
#howitworks .hiw_head h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
#howitworks .hiw_head p {
  margin: 10px 0 0 0;
  text-transform: capitalize;
  line-height: 160%;
  font-size: 22px;
}
#howitworks .hiw_cards {
  display: flex;
  justify-content: space-between;
}
#howitworks .hiw_item {
  border-radius: 20px;
  padding: 30px;
  background-color: #3B3B3B;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 330px;
}
#howitworks .hiw_item h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin: 10px 0 0 0;
}
#howitworks .hiw_item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

#subscribe {
  padding: 40px 115px 80px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}
#subscribe .sub_container {
  border-radius: 20px;
  background-color: #3B3B3B;
  padding: 60px;
  display: flex;
  gap: 80px;
  align-items: center;
}
#subscribe .sub_container h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin: 0 0 10px 0;
}
#subscribe .sub_container p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}
#subscribe .sub_container form {
  margin: 40px 0 0 0;
  position: relative;
}
#subscribe .sub_container form #email {
  font-family: "Work Sans", sans-serif;
  height: 60px;
  border-radius: 20px;
  border: 0;
  width: 100%;
  padding: 0 60px 0 20px;
  display: flex;
  width: 60%;
  color: #2B2B2B;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
#subscribe .sub_container form #email:focus {
  outline: none;
}
#subscribe .sub_container form .send {
  background-color: #A259FF;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0px;
  height: 60px;
  gap: 12px;
  border-radius: 20px;
  padding: 19px 50px;
}
#subscribe .sub_container form .send #submit {
  font-family: "Work Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding: 0;
}

footer {
  font-family: "Work Sans", sans-serif;
  background-color: #3B3B3B;
  color: #CCCCCC;
  display: flex;
  justify-content: center;
}
footer .foot_container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}
footer .foot_explore h3 {
  color: #fff;
  font-family: "Space Mono", monospace;
}
footer .foot_explore ul {
  list-style: none;
  padding: 0;
}
footer .foot_explore a {
  color: #CCCCCC;
  text-decoration: none;
}
footer .foot_join form {
  margin: 40px 0 0 0;
  position: relative;
}
footer .foot_join form #email {
  font-family: "Work Sans", sans-serif;
  height: 60px;
  border-radius: 20px;
  border: 0;
  width: 100%;
  padding: 0 60px 0 20px;
  display: flex;
}
footer .foot_join form #email:focus {
  outline: none;
}
footer .foot_join form .send {
  background-color: #A259FF;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0px;
  height: 60px;
  gap: 12px;
  border-radius: 20px;
  padding: 19px 50px;
}
footer .foot_join form .send #submit {
  font-family: "Work Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding: 0;
}